<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profil</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylejadwal.css') }}">

    <script>
        function redirectToEditProfile() {
            window.location.href = "{{ url_for('edit_profile') }}";
        }
    </script>
</head>

<body>
  <header style="display: flex; align-items: center; justify-content: space-between; background-color: #000000; padding: 20px;">
    <div class="left" style="display: flex; align-items: center;">
        <img src="/static/css/Logo.png" 
        alt="Logo" style="height: 60px; width: 60px; margin-right: 10px;">
        <div>
            <h2 style="margin: 0; color: white;">Smart Door Lock Embedded Room</h2>
            <p style="margin: 0; color: white;">Door Lock With Face Recognition</p>
        </div>
    </div>
    <div class="right">
        <!-- Tampilkan informasi profil -->
        <div style="display: flex; align-items: center; margin-right: 20px;">
            <a href="{{ url_for('dashboard') }}" style="color: white;"> Home  |</a>
            <a href="{{ url_for('logout') }}" style="color: white;">|  Log Out  </a>
            
            <div style="display: flex; align-items: center; margin-right: 10px;">
              <img src="{{ url_for('uploaded_file', filename=profile_picture) }}" style="height: 50px; width: 50px; border-radius: 50%; margin-right: -25px;"
                  onclick="redirectToEditProfile()">
            </div>
        </div>
    </div>
</header>
<video class="video-bg" autoplay muted loop>
    <source src="/static/css/bg3.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
    <!-- Header section -->
    <h1 style="text-align: center; color: white; margin-top: 10px;">Jadwal Ruangan</h1>

    <!-- Main content container -->
    <div class="container">
        <!-- Table for room schedule -->
        <table>
            <!-- Table header row -->
            <tr>
                <th>Hari</th>
                <th>Jam Durasi</th>
                <th>Kelas</th>
            </tr>
            <!-- Row for Monday -->
            <tr>
                <td rowspan="2">Senin</td>
                <td>07.30 - 10.50</td>
                <td>Kelas A</td>
            </tr>
            <tr>
                <td>13.00 - 15.50</td>
                <td>Kelas B</td>
            </tr>
            <!-- Row for Tuesday -->
            <tr>
                <td rowspan="2">Selasa</td>
                <td>07.30 - 10.50</td>
                <td>Kelas C</td>
            </tr>
            <tr>
                <td>13.00 - 15.50</td>
                <td>Kelas D</td>
            </tr>
            <!-- Row for Wednesday -->
            <tr>
                <td rowspan="2">Rabu</td>
                <td>07.30 - 10.50</td>
                <td>Kelas E</td>
            </tr>
            <tr>
                <td>13.00 - 15.50</td>
                <td>Kelas F</td>
            </tr>
            <!-- Row for Thursday -->
            <tr>
                <td rowspan="2">Kamis</td>
                <td>07.30 - 10.50</td>
                <td>Kelas G</td>
            </tr>
            <tr>
                <td>13.00 - 15.50</td>
                <td>Kelas H</td>
            </tr>
            <!-- Row for Friday -->
            <tr>
                <td rowspan="2">Jumat</td>
                <td>07.30 - 10.50</td>
                <td>Kelas I</td>
            </tr>
            <tr>
                <td>13.00 - 15.50</td>
                <td>Kelas J</td>
            </tr>
        </table>
    </div>
    <footer>
        <p>&copy; 2023 Kelompok 4 TMJ 3B</p>
    </footer>
</body>

</html>