<!DOCTYPE html>
<html>
<head>
    <title>Form Registrasi</title>
    <link rel="stylesheet" type="text/css" href=static/css/styleregis.css>
</head>
<body>
    <h2>Form Registrasi</h2>
    <form action="/" method="post">
        <label for="nama">Nama</label>
        <input type="text" id="nama" name="nama" required><br><br>

        <label for="status">Status</label>
        <input type="text" id="status" name="status" required><br><br>

        <label for="nim_nip">NIM/NIP</label>
        <input type="text" id="nim_nip" name="nim_nip" required><br><br>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" required maxlength="10"><br><br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="konfirmasi_password">Konfirmasi Password</label>
        <input type="password" id="konfirmasi_password" name="konfirmasi_password" required><br><br>

        <input type="submit" value="Daftar"><br>
    </form>

    <!-- Tautan ke halaman login.html -->
    <!-- Tautan ke halaman login.html -->
    <p>Sudah punya akun? <a href="{{ url_for('login') }}">Login di sini</a></p>


    <p>{{ get_flashed_messages() }}</p>
</body>
</html>
