<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href=/static/css/styleregis.css>
</head>
<body>
  <div class="container">
    <div class="left-side">
        <!-- Video Background -->
        <video class="video-bg" autoplay muted loop>
            <source src="/static/css/bg3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
        <h2>WELCOME TO SMART DOOR LOCK</h2>
        
    </div>
        <div class="right-side">
            <!-- Formulir Sign Up -->
            <div class="signup-box">
                <h1>Sign Up</h1><br>
                <form method="POST" action="/register">
                    <div class="form-group">
                      <label for="nama">Nama</label>
                      <input class="form-control" type="text" name="nama" id="nama" placeholder="Nama" required />
                    </div>
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-control" name="status" id="status" required>
                          <option value="" disabled selected>Pilih status</option>
                          <option value="mahasiswa">Mahasiswa</option>
                          <option value="dosen">Dosen</option>
                      </select>
                  </div>
                  
                    <div class="form-group">
                      <label for="nim_nip">NIM/NIP</label>
                      <input class="form-control" type="nim/nip" name="nim_nip" id="nim_nip" placeholder="NIM/NIP" required />
                    </div>
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input class="form-control" type="username" name="username" id="username" placeholder="Username" required />
                    </div>
                    <div class="form-group">
                        <label for="passwordRepeat">Password</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
                      </div>
                      <div class="form-group">
                        <label for="passwordRepeat">Confirm Password</label>
                        <input class="form-control" type="password" name="konfirmasi_password" id="konfirmasi_password" placeholder="********" required />
                      </div>
                      
                    <div class="m-t-lg">
                      <ul class="list-inline">
                        <li>
                          <input class="btn btn--form" type="submit" value="Register" />
                        </li>
                        <li>
                          <a class="signup__link" href="{{ url_for('login') }}">I am already a member</a>
                        </li>
                      </ul>
                    </div>
                  </form>  
            </div>
        </div>
    </div>
</body>
</html>
