/* styleregis.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for body and container */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}
.left-side {
            /* Existing styles */
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
            background-image: url();
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .video-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          object-fit: cover;
      }        

        /* Tambahkan gaya pada judul "WELCOME TO SMART LOCK DOOR" */
.left-side h2 {
  font-size: 3em; /* Ukuran font yang besar */
  color: #c4c1c1; /* Warna teks */
  text-align: center; /* Pusatkan teks */
  margin-top: 50px; /* Jarak atas dari elemen di atasnya */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Bayangan teks */
}


        .left-side p {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
            margin-bottom: 15px;
        }

        /* Media query for responsiveness */
        @media screen and (max-width: 768px) {
            .left-side {
                width: 100%;
            }
        }

.right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.signup-box {
  width: 60%;
  max-width: 400px; /* Set a maximum width for the form */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(195, 194, 194, 0.1);
  background: transparent;
  background-color: rgba(62, 63, 64, 0.9); /* Ubah nilai alpha untuk transparansi */
  text-align: center;
  animation: fadeIn 1s ease-in-out; /* Animasi fadeIn */
  transform: scale(0.85);

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Pilihan: Ubah posisi awal saat animasi dimulai */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Pilihan: Ubah posisi akhir saat animasi selesai */
  }
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #FFF;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn--form {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn--form:hover {
  background-color: #0056b3;
}

.signup__link {
  color: #007bff;
  text-decoration: none;
}