@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-image: url(https://media.istockphoto.com/id/1163988938/id/vektor/keamanan-data-dan-konsep-privasi-visualisasi-abstrak-keamanan-informasi-pribadi-atau-bisnis.jpg?s=612x612&w=0&k=20&c=f0c5m3jUz27W-6hiOQ3Nw1IzQCJ6yYy2Ysopzbhpgp0=);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    padding: 20px;
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

footer {
    background-color: #070708;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    margin: 0 20px; /* Jarak kiri dan kanan */
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 14px;
    background-color: #f8f7f7;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #0a0a0a;
    color: #1a1919;
}

th {
    background-color: #050505;
    color: #f5f2f2;
}

/* Container untuk Profile dan Edit */
.profile-container,
.edit-container {
    padding: 20px; /* Menambahkan ruang padding */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.profile-container {
    flex: 1; /* 25% lebar dari parent container */
    max-width: 25%;
}

.edit-container {
    flex: 3; /* 75% lebar dari parent container */
    max-width: 75%;
    margin-left: 20px; /* Jarak antara container kiri dan kanan */
}

/* Styles untuk elemen form */
form {
    max-width: 100%; /* Mengisi lebar container */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    width: 80%;
}

/* Tambahkan gaya lainnya sesuai kebutuhan */
h1 {
    color: #333;
    text-align: left;
}