@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-image: url("https://media.istockphoto.com/id/1163988938/id/vektor/keamanan-data-dan-konsep-privasi-visualisasi-abstrak-keamanan-informasi-pribadi-atau-bisnis.jpg?s=612x612&w=0&k=20&c=f0c5m3jUz27W-6hiOQ3Nw1IzQCJ6yYy2Ysopzbhpgp0=");
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    padding: 20px;
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    margin-bottom: 100px; /* Jarak kiri dan kanan */
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 14px;
    background-color: #f8f7f7;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #0a0a0a;
    color: #1a1919;
}

th {
    background-color: #050505;
    color: #beb6b6;
}

/* Container untuk Profile dan Edit */

.edit-container {
    padding: 10px;
    background-color: rgba(91, 91, 91, 0.7); /* Ubah nilai alpha untuk mengatur tingkat transparansi */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.profile-container {
    flex: 1; /* 25% lebar dari parent container */
    max-width: 25%;
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.profile-container img {
    height: 170px;
    width: 170px;
    border-radius: 50%; /* Membuat gambar bulat */
    margin-right: 0px;
    object-fit: cover; /* Menyesuaikan gambar ke dalam lingkaran */
    border: 4px solid white; /* Opsional: Tambahkan border */
}


.edit-container {
    flex: 1;
    max-width: 75%;
    margin-left: 10px;
    height: calc(100vh - 200px); /* 100% tinggi viewport dikurangi tinggi footer dan sedikit ruang bawah */
    overflow: auto;
    margin-bottom: 20px; /* Menambah ruang bawah container agar tombol "SAVE" tidak tertutup oleh footer */
}

.container {
    display: flex;
    align-items: stretch; /* Stretch the child containers to the full height */
    margin: 0 20px; /* Jarak kiri dan kanan */
}


/* Styles untuk elemen form */
form {
    max-width: 100%; /* Mengisi lebar container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Pusatkan secara horizontal */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    text-align: center; /* Pusatkan teks label */
}

input[type="text"],
input[type="password"],
input[type="file"] {
    width: 60%; /* Mengurangi lebar input */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Pastikan ukuran input termasuk padding dan border */
}

input[type="submit"] {
    width: 30%; /* Ukuran tombol SAVE */
    padding: 10px;
    margin-top: 10px; /* Jarak dari input ke tombol SAVE */
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-sizing: border-box; /* Pastikan ukuran tombol termasuk padding dan border */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Tambahkan gaya lainnya sesuai kebutuhan */
h2,
h1 {
    color: #000000;
    text-align: left;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    

    color: white;
    padding: 15px 0; /* Mengubah padding atas dan bawah */
    text-align: center;
    font-size: 14px; /* Mengubah ukuran teks */
    background-color: rgba(0, 0, 0, 0.7);
}