/* Isi dari File CSS Kedua (File 2.css) */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/3042508/pexels-photo-3042508.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
}

.center-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 20px 0;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px; /* Mengurangi margin-bottom agar jarak lebih dekat */
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}

label[for="status"] {
    display: block;
    font-weight: bold;
    margin: 0px 0 5px; /* Mengurangi margin-bottom agar jarak lebih dekat */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 85px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

input[type="submit"]:hover {
    background-color: #05f72d;
}
