@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-y: auto; /* Menambahkan properti overflow untuk bisa di-scroll */
}

header {
    padding: 20px;
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
footer {
    background-color: #070708;
    color: white;
    text-align: center;
    padding: 5px 0; /* Mengurangi tinggi padding di footer */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh; /* Mengurangi ketinggian kontainer untuk membuat ruang pada bagian bawah */
    margin-bottom: 30px; /* Menambahkan margin bawah untuk memberi jarak antara tabel dan footer */
}

table {
    width: 50%; /* Mengurangi lebar tabel menjadi 50% dari lebar viewport */
    border-collapse: collapse;
    margin-top: 15px;
    background-color: rgba(251, 251, 251, 0.7);
}


th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #0a0a0a;
    color: #1a1919;
}

th {
    background-color: #050505;
    color: #f5f2f2;
}

.video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}