body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://infopublik.id/assets/upload/headline//politeknik_jakarta.jpg');
  }
  
  header {
    background-color: #0c0c0c;
    color: #f5f2f2;
    padding: 2px;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    /* Tengahkan tabel */
    align-items: center;
    height: 100vh;
    /* Sesuaikan ketinggian container */
  }
  
  table {
    width: 70%;
    /* Sesuaikan lebar tabel */
    border-collapse: collapse;
    margin-top: 12px;
    background-color: #f8f7f7; /* Set background color to white */
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #0a0a0a;
    color: #1a1919;
  }
  
  th {
    background-color: #050505;
    color: #f5f2f2;
  }